In [15]:

from pymongo.mongo_client import MongoClient
from pymongo.server_api import ServerApi
import pandas as pd 
import json

uri = "mongodb+srv://akumarjha875:Omega#1295@cluster0.pdvjxh7.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Create a new client and connect to the server
client = MongoClient(uri, server_api=ServerApi('1'))

# Send a ping to confirm a successful connection
try:
    client.admin.command('ping')
    print("Pinged your deployment. You successfully connected to MongoDB!")
except Exception as e:
    print(e)

Pinged your deployment. You successfully connected to MongoDB!

In [3]:
database=client["test"]

In [17]:
collection = database["c1"]

In [5]:
data = {
  "name":"Ashutosh Kumar Jha",
  "course":"dsai",
  "year":2
}

In [6]:
collection.insert_one(data)

InsertOneResult(ObjectId('66a0aabec7b15faf664d109d'), acknowledged=True)

In [7]:
all_record=collection.find()

In [9]:
for record in all_record:
  print(record)

{'_id': ObjectId('66a0aabec7b15faf664d109d'), 'name': 'Ashutosh Kumar Jha', 'course': 'dsai', 'year': 2}

In [18]:
collection.insert_many(
    [
        {
            "name":"raghav",
            "course":"dsai",
            "year":2
        },
        {
            "name":"anurag",
            "course":"cse",
            "year":2
            
        }
    ]
)

InsertManyResult([ObjectId('66a0b221c7b15faf664d10a2'), ObjectId('66a0b221c7b15faf664d10a3')], acknowledged=True)

In [19]:
getter = collection.find()

In [20]:
for record in getter:
  print(record)

{'_id': ObjectId('66a0aabec7b15faf664d109d'), 'name': 'Ashutosh Kumar Jha', 'course': 'dsai', 'year': 2}
{'_id': ObjectId('66a0aafac7b15faf664d109e'), 'coursename': 'genai', 'instrutorname': 'sunny', 'modeofsession': 'english'}
{'_id': ObjectId('66a0aafac7b15faf664d109f'), 'coursename': 'mlops', 'instrutorname': 'sunnysavita', 'modeofsession': 'english&hindi'}
{'_id': ObjectId('66a0b221c7b15faf664d10a2'), 'name': 'raghav', 'course': 'dsai', 'year': 2}
{'_id': ObjectId('66a0b221c7b15faf664d10a3'), 'name': 'anurag', 'course': 'cse', 'year': 2}

In [16]:
class mongodb_operation:
  
  def __init__(self,client_url:str,database_name:str,collection_name:str):
    self.client_url = client_url
    self.database_name = database_name
    self.collection_name = collection_name
    
  def create_client(self):
    client=MongoClient(self.client_url)
    return client
  
  def create_database(self):
    client = self.create_client()
    database = client[self.database_name]
    return database
  
  def create_collection(self,collection=None):
    database = self.create_database()
    collection = database[collection]
    return collection
  
  def insert_record(self,record:dict,collection_name:str):
    if type(record)==list:
      for data in record:
        if type(data)!=dict:
          raise TypeError("Record must be of dictionary type")
      collection = self.create_collection(collection_name)
      collection.insert_many(record)
    
    elif type(record)==dict:
      collection=self.create_collection(collection_name)
      collection.insert_one(record)
      
  def bulk_insert(self,datafile:str,collection_name:str=None):
    self.path = datafile
    
    if self.path.endswith(".csv"):
      data = pd.read_csv(self.path,encoding="utf-8")
    elif self.path.endswith(".xlsx"):
      data = pd.read_excel(self.path,encoding="utf-8")
    
    datajson = json.loads(data.to_json(orient="record"))
    collection = self.create_collection(collection_name)
    collection.insert_many(datajson)